@model IEnumerable<Tapped>

@{
    ViewData["Title"] = "Administrace čepu";
}

<h1 style="color: white;">@ViewData["Title"]</h1>

<div class="custom-form-container">
    <h2 style="color: black;">Aktivní čepovaná pifka</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Název</th>
                <th class="hide-on-mobile">Typ</th>
                <th>0,5</th>
                <th>0,3</th>
                <th>Pivovar</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tapped in Model.Where(t => t.Active))
            {
                <tr>
                    <td>@Html.DisplayFor(model => tapped.Name)</td>
                    <td class="hide-on-mobile">@Html.DisplayFor(model => tapped.Typees.Name)</td>
                    <td>@Html.DisplayFor(model => tapped.MainPrice)</td>
                    <td>@Html.DisplayFor(model => tapped.OtherPrice)</td>
                    <td>@Html.DisplayFor(model => tapped.Breweries.Name)</td>
                    <td colspan="2" style="text-align: right;">
                        <div class="dropdown">
                            <i class="bi bi-three-dots-vertical dropdown-toggle" id="dropdownMenuButton_@tapped.Id" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton_@tapped.Id">
                                <li>
                                    <a class="dropdown-item" href="@Url.Action("Edit", new { id = tapped.Id })">Editovat</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="@Url.Action("Delete", new { id = tapped.Id })" onclick="return ConfirmDelete();">Smazat</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2 style="color: black;">Všechna čepovaná pifka</h2>
    <a class="btn btn-success" asp-action="Create">Přidat čepované pifko</a>
    <table class="table">
        <thead>
            <tr>
                <th>Název</th>
                <th class="hide-on-mobile">Typ</th>
                <th>0,5</th>
                <th>0,3</th>
                <th>Pivovar</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tapped in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => tapped.Name)</td>
                    <td class="hide-on-mobile">@Html.DisplayFor(model => tapped.Typees.Name)</td>
                    <td>@Html.DisplayFor(model => tapped.MainPrice)</td>
                    <td>@Html.DisplayFor(model => tapped.OtherPrice)</td>
                    <td>@Html.DisplayFor(model => tapped.Breweries.Name)</td>
                    <td colspan="2" style="text-align: right;">
                        <div class="dropdown">
                            <i class="bi bi-three-dots-vertical dropdown-toggle" id="dropdownMenuButton_@tapped.Id" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"></i>
                            <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton_@tapped.Id">
                                <li>
                                    <a class="dropdown-item" href="@Url.Action("Edit", new { id = tapped.Id })">Edit</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="@Url.Action("Delete", new { id = tapped.Id })" onclick="return ConfirmDelete();">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Styles
    {
    <link rel="stylesheet" href="~/css/CreateBrewery.css" asp-append-version="true" />
}

@section Scripts
    {
    <script>
        var activeTappedCount = @Model.Count(t => t.Active);
        if (activeTappedCount > 4) {
            alert("Pozor! Je aktivních více než 4 položky.");
        }
    </script>
    <script src="~/js/dialogs.js"></script>
}
