@model IEnumerable<BistroWeb.Domain.Entities.Interfaces.IUser>

@{
    ViewData["Title"] = "Správa uživatelů";
}

<h1 style="color: white;">@ViewData["Title"]</h1>
<div class="custom-form-container">

    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td colspan="2" style="text-align: right;">
                            <div class="dropdown">
                                <i class="bi bi-three-dots-vertical dropdown-toggle" id="dropdownMenuButton_@user.Id" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"></i>
                                <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton_@user.Id">
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("Edit", new { id = user.Id })">Editovat</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("Delete", new { id = user.Id })" onclick="return ConfirmDelete();">Smazat</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No users found.</p>
    }
</div>
@section Styles
    {
    <link rel="stylesheet" href="~/css/CreateBrewery.css" asp-append-version="true" />
}