@model CarouselProductViewModel

@{
    ViewData["Title"] = "Home Page";
}
@if (Model != null && Model.Carousels != null && Model.Carousels.Count > 0)
{
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Carousels.Count; ++i)
            {
                string active = (i == 0) ? "active" : "";
                <div class="carousel-item @active">
                    <img src="@Model.Carousels[i].ImageSrc" class="d-block w-100" alt="@Model.Carousels[i].ImageAlt">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}

<div class="wtextcontainer mt-3">
    <div class="row">
        <!-- Column for text -->
        <div class="col-md-8 order-md-1">
            <div class="beercontainer">
                <h1>Vítejte v naší pivotéce</h1>
                <p>
                    Ne nadarmo s říká o Stars Hollow že je duchovní oáza (nejen) pivních fajnšmekrů!
                    Myšlenkovou předlohou našeho bistra je oblíbené Lukovo bistro z ještě oblíbenějšího seriálu Gilmorova děvčata.
                    V rozporu s dobou, se vší pokorou a pečlivostí bdíme nad tím, aby forma neměla navrch před obsahem. 
                    Nemíníme se Vám proto podbízet okázalými designovými, gastronomickými ani žádnými jinými trendy a věcmi, které by ve Vás mohly vyvolat pocit, 
                    že jste a jsme lepší nebo horší, než ve skutečnosti jste a jsme.
                    Jsme obyčejné místo, kde se schází různé generace, různé honorace, popíci i metly, flinkové i floutci, oni i ony, Brandonové i Dony, 
                    milující i milovaní, malí i velcí….výškou i vědomím….ale ať už se cítíte blbě nebo dobře, 
                    tak věřte, že zde bude vždy ještě minimálně o stupeň lépe….někdy i o 11 stupňů z Humpolce!

                    Jsme totiž obyčejné místo - s pečlivě vybranou, krásnou hudbou, nekonvenční nabídkou, osobitou atmosférou a věčně zamračenou obsluhou - 
                    prostě ostrůvek úsměvně švihlé pohody v moři každodenní uspěchanosti!
                </p>
            </div>
        </div>
        <!-- Column for Facebook widget -->
        <div class="col-md-4 order-md-0">
            <div class="facebook-container">
                <div class="fb-page" data-href="https://www.facebook.com/bistroStarsHollow" data-show-posts="true" data-width="350" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/bistroStarsHollow" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/bistroStarsHollow">Pivotéka a Bistro Stars Hollow</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        @if (Model.Tapeeds != null && Model.Tapeeds.Any())
        {
            @foreach (var tapped in Model.Tapeeds.Where(p => p.Active))
            {
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <!-- Card content -->
                        <div class="card-body">
                            <img class="img-fluid brewery-image" src="@tapped.Breweries.ImageSrc" alt="Brewery Image" style="max-width: 200px; height: auto;" />
                            <!-- Card title -->
                            <h5 class="card-title">@tapped.Name</h5>
                            <!-- Beer Price -->
                            <p class="card-text">0,5l: @tapped.MainPrice,-</p>
                            <p class="card-text">0,3l: @tapped.OtherPrice,-</p>
                            <!-- Brewery -->
                            <p class="card-text">Pivovar: @tapped.Breweries.Name</p>
                            <!-- Type of beer -->
                            <p class="card-text">Typ: @tapped.Typees.Name</p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-12">
                <p>No tapped beers available</p>
            </div>
        }
    </div>
</div>





@section Styles
    {
    <!-- Include Card.css -->
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
    <style>
        .facebook-container {
            max-width: 100%; /* Set maximum width to 100% of its parent container */
            overflow-x: hidden; /* Hide horizontal overflow */
        }

        .small-image {
            max-width: 200px;
            height: auto;
        }
    </style>
}
@section Scripts {
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v19.0" nonce="m5EPqYPG"></script>
}
