@model IEnumerable<BistroWeb.Domain.Entities.Product>

<!-- Rest of your view code remains the same -->
@if (Model != null && Model.Any())
{
    @foreach (var product in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => product.Name)
            </td>
            <td>
                @Html.DisplayFor(model => product.Price)
            </td>
            <td>
                @Html.DisplayFor(model => product.Description)
            </td>
            <td>
                @Html.DisplayFor(model => product.Breweries.Name)
            </td>

            <th class="text-end">
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
            </th>
            <th class="text-start">
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@product.Id" onclick="return ConfirmDelete();">Del</a>
            </th>
        </tr>
    }
}
