@model IEnumerable<BistroWeb.Domain.Entities.Product>

<!-- Rest of your view code remains the same -->
@{
    ViewData["Title"] = "Láhvová piva";
}

<div class="text-center">
    <h1 class="display-4">Eshop</h1>
</div>

@{
    try
    {
        @if (Model != null && Model.Any())
        {
            <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">

                        @foreach (var product in Model)
                        {
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image -->
                                    <img class="card-img-top" src="@product.ImageSrc" alt="..." />
                                    <!-- Product details -->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name -->
                                            <h5 class="fw-bolder">@product.Name</h5>
                                            <!-- Product description -->
                                            <p class="fw-light">@product.Description</p>
                                            <!-- Product price -->
                                            <p>@product.Price CZK</p>
                                            <!-- Brewery name -->
                                            <p class="fw-bolder">@product.Breweries?.Name</p>
                                        </div>
                                    </div>
                                    <!-- Product actions -->
                                    <div class="text-center">
                                        <!-- Info button -->
                                        <a class="btn btn-outline-dark mt-auto" href="@Url.Action("Details", "ProductDetail", new { id = product.Id })">Info</a>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        }


    }
    catch (Exception ex)
    {
        <p>Error: @ex.Message</p>
    }
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/shop_home.css" asp-append-version="true" />
}

@section Scripts
    {
    <environment include="Development">
        <script src="~/js/product.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/product.min.js"></script>
    </environment>
}
