@model IList<Item>

@{
    ViewData["Title"] = "Administrace položek nábidníku";
}
<h1>@ViewData["Title"]</h1>

<a class="btn btn-success" asp-action="Create">Přidat produkt</a>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th><a asp-action="Index" asp-route-sortOrder="@("ID")">ID</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@("Name")">Název</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@("Section")">Sekce</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@("Price")">Cena</a></th>
                <th class="text-end"></th>
                <th class="text-end"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><span class="fade-overflow">@item.Name</span></td>
                    <td>@item.Section</td>
                    <td>@item.Price</td>
                    <th class="text-end">
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </th>
                    <th class="text-start">
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id" onclick="return ConfirmDelete();">Del</a>
                    </th>
                </tr>
            }

        </tbody>
    </table>
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
}
@section Scripts
    {
    <script src="~/js/dialogs.js"></script>
}
