@model BistroWeb.Application.ViewModels.BreweryProductViewModel

@{
    ViewData["Title"] = "Editace produktu";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label class="form-label" asp-for="Products[0].Name">Název</label>
        <input class="form-control" asp-for="Products[0].Name" value="@Model.Products[0].Name">
        <span asp-validation-for="Products[0].Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Products[0].Brewery">Pivovar</label>
        <select class="form-control" asp-for="Products[0].Brewery">
            @foreach (var brewery in Model.Breweries)
            {
                <option value="@brewery.Name" selected="@(brewery.Name == Model.Products[0]?.Brewery?.Name)">@brewery.Name</option>
            }
        </select>
        <span asp-validation-for="Products[0].Brewery" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Products[0].Description">Popisek</label>
        <input class="form-control" asp-for="Products[0].Description" value="@Model.Products[0]?.Description">
        <span asp-validation-for="Products[0].Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Products[0].Price">Cena</label>
        <input class="form-control" asp-for="Products[0].Price" value="@Model.Products[0]?.Price">
        <span asp-validation-for="Products[0].Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Products[0].Image">Obrázek</label>
        <input id="fileupload" class="form-control-file" asp-for="Products[0].Image" value="@Model.Products[0]?.Image">
        <span asp-validation-for="Products[0].Image" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Potvrdit</button>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Validations/FileContentValidation.js"></script>
}
