@model IEnumerable<Product>

@{
    ViewData["Title"] = "Administrace produktů";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-success" asp-action="Create">Přidat pivo</a>

<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th>Cena</th>
            <th>Popisek</th>
            <th>Pivovar</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => product.Name)</td>
                <td>@Html.DisplayFor(model => product.Price)</td>
                <td>@Html.DisplayFor(model => product.Description)</td>
                <td>@Html.DisplayFor(model => product.Breweries.Name)</td>
                <td class="text-end">
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                </td>
                <td class="text-start">
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@product.Id" onclick="return ConfirmDelete();">Del</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Styles
    {
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
}
@section Scripts
    {
    <script src="~/js/dialogs.js"></script>
}
