@model BistroWeb.Application.ViewModels.ProductDetailViewModel
@Html.AntiForgeryToken()

<div class="custom-form-container">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <!-- Use the image-container class to wrap both images -->
                <div class="image-container">
                    <!-- Display the product image -->
                    <img class="img-fluid product-image" src="@Model.Product.ImageSrc" alt="Beer Image" />

                    <!-- Container for the brewery image -->
                    <div class="brewery-container">
                        <!-- Display the brewery image -->
                        <img class="img-fluid brewery-image" src="@Model.Product.Breweries?.ImageSrc" alt="Brewery Image" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="display-4">@Model.Product.Name</h1>

                <h4>Něco o pifku:</h4>
                <p>@Model.Product.Description</p>

                <h4>Cena:</h4>
                <p>@Model.Product.Price CZK</p>

                <h4>Něco o pivním stylu:</h4>
                <p>@Model.Product.Typees?.Description</p>

                <h4>Pivovar:</h4>
                <p>@Model.Product.Breweries?.Name</p>

                <h4>O pivovaru:</h4>
                <p>@Model.Product.Breweries?.Description</p>
                @if (User.Identity.IsAuthenticated)
                {
                    <h4>Ohodnotit pivéčko:</h4>
                    <div class="rating-buttons">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <form id="ratingForm_@i" method="post" action="@Url.Action("RateProduct", "ProductDetail")" class="d-inline">
                                <input type="hidden" name="productId" value="@Model.Product.Id" />
                                <input type="hidden" name="ratingValue" value="@i" />
                                <button type="submit" class="btn btn-outline-primary rating-button @(Model.UserRating == i ? "rated" : "")">@i</button>
                            </form>
                        }
                    </div>
                }
                <div class="col-md-6">
                    <!-- Other product details -->
                    <h4>Pivní paráda:</h4>
                    <p>@Model.AverageRating.ToString("F2")</p> <!-- Display the average rating value -->
                    <!-- Other product details -->
                </div>
                <br />
                <a class="btn btn-primary" href="@Url.Action("Lahve", "Home")">Zpět na lahváče</a>
            </div>
        </div>
    </div>
</div>
@section Styles
    {
    <link rel="stylesheet" href="~/css/CreateBrewery.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Detail.css" asp-append-version="true" />
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.rating-button').click(function (e) {
                e.preventDefault(); // Prevent the default form submission

                var form = $(this).closest('form');
                $.post(form.attr('action'), form.serialize(), function () {
                    // Show the thank you message
                    var message = $('<div class="alert alert-success" role="alert">Děkujeme!</div>');
                    form.parent().append(message); // Append message to the parent container of the rating buttons

                    // Automatically hide the message after 3 seconds
                    setTimeout(function () {
                        message.fadeOut('slow', function () {
                            $(this).remove();
                        });
                    }, 3000);
                });
            });
        });
    </script>
}