@model BistroWeb.Domain.Entities.Product

<style>
    /* Add styles for the container holding both images */
    .image-container {
        position: relative;
        display: inline-block;
    }

    /* Add styles for the product image */
    .product-image {
        max-width: 100%;
        height: auto;
        display: block;
    }

    /* Add styles for the brewery container */
    .brewery-container {
        position: absolute;
        bottom: 0;
        right: 0;
        max-height: 100px;
        max-width: 90px;
        z-index: 1; /* Set a higher z-index to ensure it appears on top */
    }

    /* Add styles for the brewery image */
    .brewery-image {
        max-width: 80%;
        height: auto;
        display: block;
        margin-bottom: 20px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Use the image-container class to wrap both images -->
            <div class="image-container">
                <!-- Display the product image -->
                <img class="img-fluid product-image" src="@Model.ImageSrc" alt="Beer Image" />

                <!-- Container for the brewery image -->
                <div class="brewery-container">
                    <!-- Display the brewery image -->
                    <img class="img-fluid brewery-image" src="@Model.Breweries?.ImageSrc" alt="Brewery Image" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="display-4">@Model.Name</h1>

            <h4>Něco o pifku:</h4>
            <p>@Model.Description</p>

            <h4>Cena:</h4>
            <p>@Model.Price CZK</p>
            
            <h4>Něco o pivním stylu:</h4>
            <p>@Model.Typees?.Description</p>
            
            <h4>Pivovar:</h4>
            <p>@Model.Breweries?.Name</p>

            <h4>O pivovaru:</h4>
            <p>@Model.Breweries?.Description</p>

            <!-- You can add more details as needed -->
            <!-- Add a back button to go back to the list -->
            <a class="btn btn-primary" href="@Url.Action("Index", "Lahve")">Back to List</a>
        </div>
    </div>
</div>